<% include ./partials/header.ejs %>

<div class="container">
    <h1>This is the landing page</h1>
    
    <a href="/campgrounds">View all campgrounds</a>
    
    <div class="myWorks">
        <h1>My other works</h1>
        <ul>
            <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/todolist/">To do list with mysql database</a></li>
        </ul>
        <div>
            <ul>
                <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/myWorks/colorGame">Color Game</a></li>
                <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/myWorks/toDoList">To do list</a></li>
                <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/myWorks/landingPage">Landing Page</a></li>
                <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/myWorks/imageGallery">Image Gallery</a></li>
            </ul>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>