<% include ./partials/header.ejs %>

<div id="landing">
    <div class="container">
        <h1>This is the landing page</h1>
        
        <a href="/campgrounds">View all campgrounds</a>
        
        <div class="myWorks">
            <div class="row">
                <div class="col-md-6">
                    <h1>My other works</h1>
                    <ul>
                        <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/todolist/">To do list with mysql database</a></li>
                    </ul>
                    <div>
                        <ul>
                            <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/myWorks/colorGame">Color Game</a></li>
                            <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/myWorks/toDoList">To do list</a></li>
                            <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/myWorks/landingPage">Landing Page</a></li>
                            <li><a href="http://plbpc013.ouhk.edu.hk/s1118404/myWorks/imageGallery">Image Gallery</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <h1>My other works 2</h1>
                    <ul>
                        <li><a href="http://176.32.230.251/johnsiu.com/jquery/">Jquery JSBIN</a></li>
                        <li><a href="http://176.32.230.251/johnsiu.com/bootstrap/">Bootstrap4</a></li>
                        <li><a href="http://176.32.230.251/johnsiu.com/php/">PHP Contact us form</a></li>
                        <li><a href="http://176.32.230.251/johnsiu.com/php/webscraping/">PHP webscraping</a></li>
                        <li><a href="http://176.32.230.50/johnsiu-mysql.com/diary/">mySQL diary</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>